# Hola &#x1F600;,

Soy **Hesus Garcia** ‚Äì **"Soy el √∫nico Hesus que conoces (y probablemente conocer√°s) üåü"** ‚Äì S√≠, como "Jes√∫s", pero con una H que me hace √∫nico. Puede sonar raro, pero cr√©eme, ¬°no lo olvidar√°s! Como tu revisor en Triple-Ten, estoy aqu√≠ para guiarte y ayudarte a mejorar tu c√≥digo. Si algo necesita un ajuste, no hay de qu√© preocuparse; ¬°aqu√≠ estoy para hacer que tu trabajo brille con todo su potencial! ‚ú®

Cada vez que encuentre un detalle importante en tu c√≥digo, te lo se√±alar√© para que puedas corregirlo y as√≠ te prepares para un ambiente de trabajo real, donde el l√≠der de tu equipo actuar√≠a de manera similar. Si en alg√∫n momento no logras solucionar el problema, te dar√© m√°s detalles para ayudarte en nuestra pr√≥xima oportunidad de revisi√≥n.

Es importante que cuando encuentres un comentario, **no los muevas, no los modifiques, ni los borres**.

---

### Formato de Comentarios

Revisar√© cuidadosamente cada implementaci√≥n en tu notebook para asegurar que cumpla con los requisitos y te dar√© comentarios de acuerdo al siguiente formato:


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br>
    
<b>√âxito</b> - ¬°Excelente trabajo! Esta parte est√° bien implementada y contribuye significativamente al an√°lisis de datos o al proyecto. Contin√∫a aplicando estas buenas pr√°cticas en futuras secciones.
    
</div>

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br>
    
<b>Atenci√≥n</b> ‚ö†Ô∏è - Este c√≥digo est√° correcto, pero se puede optimizar. Considera implementar mejoras para que sea m√°s eficiente y f√°cil de leer. Esto fortalecer√° la calidad de tu proyecto.
    
</div>

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br>
    
<b>A resolver</b> ‚ùó - Aqu√≠ hay un problema o error en el c√≥digo que es necesario corregir para aprobar esta secci√≥n. Por favor, revisa y corrige este punto, ya que es fundamental para la validez del an√°lisis y la precisi√≥n de los resultados.
    
</div>

---

Al final de cada revisi√≥n, recibir√°s un **Comentario General del Revisor** que incluir√°:

- **Aspectos positivos:** Un resumen de los puntos fuertes de tu proyecto.
- **√Åreas de mejora:** Sugerencias sobre aspectos donde puedes mejorar.
- **Temas adicionales para investigar:** Ideas de temas opcionales que puedes explorar por tu cuenta para desarrollar a√∫n m√°s tus habilidades.

Estos temas adicionales no son obligatorios en esta etapa, pero pueden serte √∫tiles para profundizar en el futuro.

---


Esta estructura en vi√±etas facilita la lectura y comprensi√≥n de cada parte del comentario final.

Tambi√©n puedes responderme de la siguiente manera si tienes alguna duda o quieres aclarar algo espec√≠fico:


<div class="alert alert-block alert-info">
<b>Respuesta del estudiante</b> <a class="tocSkip"></a>
    
Aqu√≠ puedes escribir tu respuesta o pregunta sobre el comentario.
    
</div>


**¬°Empecemos!** &#x1F680;

# Telecom (Analisis de Churn)

## Descripcion del problema

Al operador de telecomunicaciones Interconnect le gustar√≠a poder pronosticar su tasa de cancelaci√≥n de clientes. 
Si se descubre que un usuario o usuaria planea irse, se le ofrecer√°n c√≥digos promocionales y opciones de planes especiales. El equipo de marketing de Interconnect ha recopilado algunos de los datos personales de sus clientes, incluyendo informaci√≥n sobre sus planes y contratos.

### Servicios de Interconnect

Interconnect proporciona principalmente dos tipos de servicios:

1. Comunicaci√≥n por tel√©fono fijo. El tel√©fono se puede conectar a varias l√≠neas de manera simult√°nea.
2. Internet. La red se puede configurar a trav√©s de una l√≠nea telef√≥nica (DSL, *l√≠nea de abonado digital*) o a trav√©s de un cable de fibra √≥ptica.

Algunos otros servicios que ofrece la empresa incluyen:

- Seguridad en Internet: software antivirus (*Protecci√≥nDeDispositivo*) y un bloqueador de sitios web maliciosos (*SeguridadEnL√≠nea*).
- Una l√≠nea de soporte t√©cnico (*SoporteT√©cnico*).
- Almacenamiento de archivos en la nube y backup de datos (*BackupOnline*).
- Streaming de TV (*StreamingTV*) y directorio de pel√≠culas (*StreamingPel√≠culas*)

La clientela puede elegir entre un pago mensual o firmar un contrato de 1 o 2 a√±os. Puede utilizar varios m√©todos de pago y recibir una factura electr√≥nica despu√©s de una transacci√≥n.

### Descripci√≥n de los datos

Los datos consisten en archivos obtenidos de diferentes fuentes:

- `contract.csv` ‚Äî informaci√≥n del contrato;
- `personal.csv` ‚Äî datos personales del cliente;
- `internet.csv` ‚Äî informaci√≥n sobre los servicios de Internet;
- `phone.csv` ‚Äî informaci√≥n sobre los servicios telef√≥nicos.

En cada archivo, la columna `customerID` (ID de cliente) contiene un c√≥digo √∫nico asignado a cada cliente. La informaci√≥n del contrato es v√°lida a partir del 1 de febrero de 2020.

## Inicializacion

In [2]:
import pandas as pd

## Funciones

In [1]:
"""
 Analiza si el customerID se encuentra mas de una vez en el data set lo que implicar√≠a que es una relacion 1:n
"""
def analizaDatosLlave(df):
    customer_counts = df['customerID'].value_counts()
    duplicate_ids = customer_counts[customer_counts > 1].index.tolist()
    
    print("customerIDs que aparecen m√°s de una vez:", duplicate_ids)
    print("-" * 30)

## Carga de datos

In [3]:
df_contract = pd.read_csv("/datasets/final_provider/contract.csv")
df_personal = pd.read_csv("/datasets/final_provider/personal.csv")
df_internet = pd.read_csv("/datasets/final_provider/internet.csv")
df_phone = pd.read_csv("/datasets/final_provider/phone.csv")

## Analisis Exploratorio de Datos (EDA)

### Contracts (dataset)

In [11]:
df_contract.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB

In [12]:
df_contract.sample(15)

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
1569,0799-DDIHE,2018-11-01,No,Month-to-month,No,Electronic check,46.30,639.45
5678,4797-AXPXK,2019-12-01,2020-01-01 00:00:00,Month-to-month,Yes,Electronic check,60.00,60
2359,2616-UUTFK,2017-05-01,No,Month-to-month,Yes,Bank transfer (automatic),72.75,2447.45
2309,5414-OFQCB,2015-05-01,No,Two year,Yes,Credit card (automatic),90.45,5229.8
949,6169-PPETC,2017-03-01,No,Two year,No,Bank transfer (automatic),20.50,759.35
1171,6270-OMFIW,2014-12-01,2019-12-01 00:00:00,One year,Yes,Electronic check,94.40,5610.25
883,3199-NPKCN,2014-07-01,No,One year,Yes,Electronic check,111.25,7511.65
910,1907-UBQFC,2018-12-01,2019-10-01 00:00:00,Month-to-month,Yes,Electronic check,72.85,688.65
1741,0106-GHRQR,2018-10-01,No,Month-to-month,Yes,Bank transfer (automatic),71.40,1212.1
3897,8015-IHCGW,2014-02-01,No,Two year,Yes,Electronic check,115.50,8425.15
5590,0487-VVUVK,2018-01-01,No,Month-to-month,Yes,Mailed check,19.15,477.6
2554,5843-TTHGI,2018-08-01,No,Month-to-month,Yes,Mailed check,50.00,892.7
1988,3424-NMNBO,2015-03-01,2020-01-01 00:00:00,One year,Yes,Electronic check,108.85,6287.25
1888,9894-QMIMJ,2018-03-01,No,One year,No,Bank transfer (automatic),55.80,1327.85
4047,2434-EEVDB,2014-10-01,No,Two year,Yes,Credit card (automatic),94.60,5948.7

In [17]:
df_contract.drop_duplicates().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 495.2+ KB

In [16]:
df_contract.describe()

       MonthlyCharges
count     7043.000000
mean        64.761692
std         30.090047
min         18.250000
25%         35.500000
50%         70.350000
75%         89.850000
max        118.750000

### Personal (dataset)

In [18]:
df_personal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [19]:
df_personal.sample(10)

      customerID  gender  SeniorCitizen Partner Dependents
1957  5619-PTMIK  Female              0     Yes         No
1203  9087-EYCPR  Female              0      No         No
5082  8779-YIQQA    Male              0     Yes        Yes
1423  0680-DFNNY    Male              0     Yes         No
5810  9102-IAYHT  Female              0     Yes        Yes
1226  7115-IRDHS  Female              0     Yes         No
3479  8229-TNIQA  Female              0      No         No
6169  4847-QNOKA  Female              0      No         No
943   6115-ZTBFQ  Female              0     Yes         No
2884  5248-RPYWW  Female              1     Yes        Yes

In [20]:
df_personal.drop_duplicates().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 330.1+ KB

In [4]:
analizaDatosLlave(df_personal)

customerIDs que aparecen m√°s de una vez: []
------------------------------

### Internet (dataset)

In [48]:
df_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5517 non-null   object
 1   InternetService   5517 non-null   object
 2   OnlineSecurity    5517 non-null   object
 3   OnlineBackup      5517 non-null   object
 4   DeviceProtection  5517 non-null   object
 5   TechSupport       5517 non-null   object
 6   StreamingTV       5517 non-null   object
 7   StreamingMovies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB

In [49]:
df_internet.sample(10)

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
612,5175-WLYXL,Fiber optic,No,Yes,No,No,No,No
3870,3217-FZDMN,Fiber optic,No,No,Yes,No,Yes,Yes
890,6900-RBKER,Fiber optic,No,No,Yes,No,No,Yes
2020,8216-AZUUZ,Fiber optic,No,No,Yes,Yes,Yes,Yes
926,0135-NMXAP,Fiber optic,No,Yes,No,No,Yes,No
4697,0020-JDNXP,DSL,Yes,No,Yes,Yes,Yes,Yes
3301,6480-YAGIY,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes
2076,8250-ZNGGW,DSL,Yes,Yes,No,Yes,No,No
3070,7716-YTYHG,Fiber optic,No,No,No,No,No,Yes
809,3863-IUBJR,DSL,No,No,No,No,No,Yes

In [5]:
analizaDatosLlave(df_internet)

customerIDs que aparecen m√°s de una vez: []
------------------------------

### Phone (dataset)

In [7]:
df_phone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     6361 non-null   object
 1   MultipleLines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB

In [8]:
df_phone.sample(10)

      customerID MultipleLines
4914  3563-SVYLG            No
5377  8035-PWSEV            No
5018  8174-LNWMW            No
6155  1116-DXXDF            No
3747  3724-UCSHY            No
3687  1629-DQQVB            No
4206  0929-PECLO           Yes
1690  3669-OYSJI            No
2191  8231-BSWXX           Yes
4016  8652-YHIYU           Yes

In [6]:
analizaDatosLlave(df_phone)

customerIDs que aparecen m√°s de una vez: []
------------------------------

## Entendiendo los datos y el problema

En cuanto al problema, se entiende que a partir de los datos muestra se busca anticiparse a que un cliente cancele. Algunos asumptions a aclarar con el equipo:
- Se manejar√° como variable objetivo la variable enddate del dataset contract
- En caso de que esta tenga un valor indica que el cliente ya ha cancelado.
- El objetivo seria poder estimar la cancelacion de los clientes para poder cambiar su situacion y poder retenerlo.

Algunos comentarios a partir del EDA ya que es necesario realizar un preprocesamiento de datos:
- Se deber√° incluir el manejo de variables categoricas y la normalizaci√≥n de datos
- Se debe determinar si se descartan datos pues habr√° datos nulos al relacionar la informaci√≥n.


De lo anterior se sugieren las siguientes fases con los datos como plan de trabajo:

## Preprocesamiento y Tratamiento de datos

### Estandarizacion y normalizcion

## Segmentacion de datos

## Selecci√≥n y Evaluaci√≥n de Modelos

## Conclusiones


# Comentario General del Revisor

<div class="alert alert-block alert-success">

<b>Comentario del revisor</b> <a class="tocSkip"></a>

¬°Buen trabajo explorando el problema de cancelaci√≥n de clientes en el contexto de telecomunicaciones! Se aprecia el esfuerzo por estructurar el an√°lisis y comenzar a organizar el flujo del proyecto.

#### Puntos Positivos:

* **Exploraci√≥n de datos (EDA):** Buen uso de `info()`, `describe()` y muestras aleatorias para conocer la estructura y contenido de los datasets.
* **Validaci√≥n de duplicados por ID:** Correcta aplicaci√≥n de funciones para revisar unicidad en la llave `customerID`.
* **Comprensi√≥n del problema:** Se nota una interpretaci√≥n adecuada del reto de predicci√≥n y la l√≥gica detr√°s de utilizar la columna `EndDate` como indicador de cancelaci√≥n.

#### √Åreas para Seguir Investigando:

* **Selecci√≥n de caracter√≠sticas:** Al ser un proyecto final, ser√≠a excelente ver propuestas concretas para realizar selecci√≥n de variables, utilizando enfoques como *filtering* (correlaci√≥n, chi¬≤), *wrapping* (RFE), y *embedding* (Lasso, √Årboles, SHAP, Boruta). Estas t√©cnicas ayudar√°n a reducir dimensionalidad y mejorar la interpretabilidad y rendimiento del modelo.
* **Mayor especificidad en el plan:** Los planes en ciencia de datos son m√°s efectivos cuando son detallados. En vez de decir ‚Äúhar√© selecci√≥n de modelos‚Äù, conviene indicar ‚Äúcomparar√© RandomForest, XGBoost y Regresi√≥n Log√≠stica, usando ROC-AUC como m√©trica, aplicados a las variables X, Y, Z que ya fueron seleccionadas por SHAP‚Äù.


</div>